<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<appSettings>
		<add key="TrafficLightIntelligence" value="0" />
		<add key="CarGenerationRate" value="5" />
		<add key="CarPrioritization" value="cars" />
		<add key="TurnDelay" value="500" />
	</appSettings>
</configuration>
